doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= title 
    body 
        div.name
            h1= message
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis totam praesentium corporis voluptates, veniam neque ratione laborum quaerat quae tenetur laboriosam corrupti cupiditate, ut consequatur odit? Minima fuga numquam voluptatem!
